<head>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<nav class="navbar navbar-light" style="background-color: #ffcb05;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/pokedex.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      POKEDEX
    </a>
    <form #f="ngForm" class="d-flex" (submit)="busqueda(f)">
      <input class="form-control me-2" type="search" placeholder="Buscar por tipo" name="tipo" ngModel>
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
